@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

.navbar {
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar a {
    color: #111;
    text-decoration: none;
}

.navbar-brand span {
    font-size: 0.7rem;
    vertical-align: super;
}

.navbar .justify-content-end {
    float: right
}

.nav-link svg {
    margin-right: 4px;
}

.footer-section {
    background-color: #333 !important;
    color: #eee !important;
}

footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.05)
}

footer a {
    color: #111;
    text-decoration: none;
}

footer .about {
    font-size: 0.8rem;
}

.text-justify {
    text-align: justify;
}

.btn-orange {
    background-color: #f39300;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
}

.btn-xs {
    font-size: 0.5rem;
    padding: 3px 10px;
    text-decoration: none;
    color: #444;
}

.section-1 {
    background-color: #fdc26a;
    color: #222;
    padding: 40px 20px;
}

.section-2 {
    background-color: #fffaf3;
    padding: 40px 20px;
}

.section-3 {
    background-color: #fff;
    padding: 40px 20px;
}

/**
 *  section-comparison
 */

.section-comparison table {
    font-size: 0.7rem;
}

.text-right {
    text-align: right;
}


/**
 * ReactTooltip
 */
.opaque {
    opacity: 1 !important;
}


/**
 *  
 */
ul.no-bullet {
    list-style-type: none;
    margin-left: -20px;
}

.ml-1 {
    margin-left: 4px;
}

.mb-2 {
    margin-bottom: 10px;
}

.hide {
    display: none;
}




/**
 * Card
 */
.card-success {
    background-color: #1FB650;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    font-weight: bold;
    color: #fff;

    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    padding: 0.75rem 1.25rem;
}

.card-danger {
    background-color: #c84343;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    font-weight: bold;
    color: #fff;

    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    padding: 0.75rem 1.25rem;
}

.card-default {
    font-size: 1.25rem;
    line-height: 1.8125rem;
    font-weight: bold;
    color: #444;

    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    padding: 0.75rem 1.25rem;
}

.card-danger svg,
.card-success svg,
.card-default svg {
    margin-right: 10px;
}

.text-faded {
    opacity: 0.5 !important;
}

.opaque {
    box-shadow:
        0px 0.5px 5.3px rgba(0, 0, 0, 0.081),
        0px 1.8px 17.9px rgba(0, 0, 0, 0.119),
        0px 8px 80px rgba(0, 0, 0, 0.2);

}

/**
 * Term of service 
 */
.tos {
    font-size: 1.2rem;
}

.tos p {
    margin-bottom: 50px;
}

code {
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
}


.btn-center {
    float: initial !important;
    text-align: center;
    margin: auto;
}

.center-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-placeholder::-webkit-input-placeholder,
.center-placeholder::-moz-placeholder,
.center-placeholder::-ms-input-placeholder {
    text-align: center;
}

.center-placeholder {
    text-align: center;
}

.tip-invoice-code {
    inline-size: 100%;
    overflow-wrap: break-word;
    text-align: center;
}

.tip-copied {
    text-align: center;
    color: rgb(46, 175, 46);
}

.tip-checking {
    text-align: center;
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

/**
 * Tip
 */
.tip-donor-list .tip-donor {
    border: 1px solid #eee;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 8px;
    text-align: center;
    white-space: nowrap;
    padding-left: 40px;
    color: #000;
    cursor: default;
}

.tip-donor-list .tip-donor:hover {
    background-color: #eee;
}

.tip-donor-list .tip-donor.clickable {
    cursor: pointer;
}

.tip-donor-list .tip-donor-name {
    margin-top: 3px;
}

.tip-donor-list .tip-donor-avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    margin-left: -30px;
    margin-right: 5px;
    background-color: #ddd;
}

.tip-donor-list .tip-donor-avatar img {
    width: 100%;
}

.tip-donor.contributor {
    background-color: #ffdaa4;
}

/**
 * Trx Insight
 */
.trx-insight .table {
    text-align: left;
    border: 1px solid #eee;
}
.trx-insight .table tbody tr td:nth-child(1){
   width: 20%;
}

.trx-insight .trx-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
}


.trx-insight .h1 {
    font-size: 5rem;
}

.trx-insight .hide {
    display: none;
}

.trx-insight-box {
    border: none;
    padding-top: 17px;
}

.trx-insight-box .col {
    padding: 0 !important;
}

.trx-insight-box input {
    font-size: 2rem;
}

.trx-insight-box .btn {
    font-size: 2rem;
}

.trx-not-found {
    font-size: 2rem;
}

/**
 * Index page
 */
.simple-step img {
    max-width: 200px;
    margin: auto;
    display: block;
}

.simple-step div {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
}

/** masonry grid pinterest style */
.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
}


.header-anim {
    overflow: hidden;
}

.header-anim object{
    width: 120%;
    margin: auto;
    margin-left: -10%;
}


/**
 * Legalitas
 */

.dashed-line {
    border-bottom: 1px dashed #ddd;
}
.legality .h1 {
    font-size: calc(1.325rem + .9vw);
    margin-bottom: 3rem;
}
.legality .h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.legality .h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.legality .blockquote {
    border-left: 3px solid #eee;
    padding-left: 20px;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.legality .blockquote p {
    font-style: italic;
}