.kurs-average  {
    text-align: center;
    border-radius: 20px;
    border-color: transparent;
    box-shadow:
        4.6px 5px 10px rgba(0, 0, 0, 0.065),
        37px 40px 80px rgba(0, 0, 0, 0.13)
    ;
}

.kurs-average .h1 {
    font-size: 4rem;
}
.kurs-average .h2 {
    font-size: 1.3rem;
}
.kurs-average .equal {
    font-size: 1.3rem;
    color: #aaa;
}
.kurs-average .h4 {
    font-size: 0.7rem;
    color: #aaa;
}


.kurs-external {
    margin-top: 100px;
}
.kurs-external .card-default {
    border-radius: 20px;
    border-color: transparent;
    box-shadow:
        3.5px 1.4px 10px rgba(0, 0, 0, 0.035),
        28px 11px 80px rgba(0, 0, 0, 0.07)
    ;
}